.bg-highlight {
  background: linear-gradient(to top, #dbeafe 40%, transparent 40%);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 2px;
  padding-right: 2px;
  font-weight: 600;
}